/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-primary {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
.mulish-bold{
    font-family: mulish;
    font-weight: 700;
}
.mulish-bolder{
    font-family: mulish;
    font-weight: 800;
 }
  
  /* text color styles */
.dark1{
    color: rgb(19, 19, 24);
}
.dark2{
    color: rgb(66, 66, 71);
}
.dark3{
    color: rgba(19, 19, 24, 0.7);
}
.dark4{
    color: rgba(19, 19, 24, 0.5);
}
.orange{
    color: rgb(255, 84, 0);
}


/* body styles */
*{
    margin: 0;
    padding: 0;
}
/* nav styles */
nav{
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    gap: 15px;
    align-items: center;
}
.nav-link{
    display: flex;
    gap: 39px;
    list-style: none;
    font-size: 1.125rem;
}


/* hero section styles */
.hero{
    max-width: 1040px;
    height: 444px;
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid red;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url(../resources/Images/Group\ 13.png);
    background-blend-mode: multiply ;
    border-radius: 16px;
}
.hero-heading{
    font-size: 4rem;
    color: white;
}
.hero-text{
    color: white;
}
.menu{
    display: flex;
    height: 52px;
    gap: 11px;
}
.menu>img{
    height: 18px;
    width: 18px;

}

@media screen and (max-width:576px) {
    nav{
        max-width: 335px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .logo{
        gap: 10px;
    }
    .logo img{
        height: 33.52px;
    }
    .logo h1{
        height: 27px;
    }
    .nav-links{
        display: none;
    }
}

@media screen and (max-width:992px) and (min-width:576px) {
    nav{
        max-width: 992px;
        margin: 0 auto;
        padding: 20px;
    }
}